<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Welcome</td> </tr>
      <tr> <td>08:10</td>  <td>DUNE Basics: Storage space and data management</td> </tr>
      <tr> <td>09:45</td>  <td>Coffee</td> </tr>
      <tr> <td>10:15</td>  <td>DUNE Basics: Intro to LArSoft</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>12:30</td>  <td>DUNE Basics: Grid job submissions + common errors</td> </tr>
      <tr> <td>13:40</td>  <td>Code-makover</td> </tr>
      <tr> <td>14:50</td>  <td>Closing</td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Welcome</td> </tr>
      <tr> <td>08:10</td>  <td>Code-makover</td> </tr>
      <tr> <td>09:30</td>  <td>Coffee</td> </tr>
      <tr> <td>09:45</td>  <td>Expert in the room: LARSoft: How to Modify a Module</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>12:30</td>  <td>Code-makeover</td> </tr>
      <tr> <td>13:30</td>  <td>Expert in the room: Grid job submission</td> </tr>
      <tr> <td>14:50</td>  <td>Closing</td> </tr>
    </table>
  </div>
</div>
